<div class='container'>
  <%= link_to 'Add new customer', new_client_path %>
  <h1>This is a list of our customers:</h1>
  <% @clients.each do |client| %>
    <div>
      <p>
        <%= client.id %>
        <%= client.name %>
        <%= client.surname %>
      </p>
    </div>
  <% end %>
</div>
