<p id='notice'><%= notice %></p>

<div class='jumbotron'>
   <div class='container'>
      <div class='title'>
         <h1>Hostel Centrum</h1>
      </div>
   </div>
</div>

<div class='container'> 
   <div class='row'>
      <div class='col-md-4'>
         <span class='glyphicon glyphicon-road' aria-hidden='true'></span>
         <h3>Organised tours</h3>
         <p>We offer you a lot of organised tours (Aushwitz-Birkenau, Zakopane, Jasna-Góra).</p>
      </div>

      <div class='col-md-4'>
         <span class='glyphicon glyphicon-camera' aria-hidden='true'></span>
         <h3>Sightseening</h3>
         <p>In Cracow there is a lot of places to see. Click here to see our best-to-see list.</p>
      </div>

      <div class='col-md-4'>
         <span class='glyphicon glyphicon-glass' aria-hidden='true'></span>
         <h3>Nightlife</h3>
         <p>Best night-clubs and pubs in Cracow, with us you won't be disappointed.</p>
      </div>
   </div>
</div>

