%p#notice= notice

.jumbotron
   .container
      .title
         %h1 Hostel Cheapsy

.container
   .row
      .col-md-4
         %span.glyphicon.glyphicon-road{"aria-hidden" => true}
         %h3 Organised tours
         %p We offer you a lot of organised tours (Aushwitz-Birkenau, Zakopane, Jasna-Gora.
      .col-md-4
         %span.glyphicon.glyphicon-camera{"aria-hidden" => true}
         %h3 Sightseening
         %p In Cracow there is a lot of places to see. Click here to see our best-to-see list.
      .col-md-4
         %span.glyphicon.glyphicon-glass{"aria-hidden" => true}
         %h3 Nightlife
         %p Best night-clubs and pubs in Cracow, with us you won't be disappointed.

