<div class="field">
   <%= f.hidden_field :discount %>
</div>
<div class="confirm_field">
   <p>Name: <%= @reservation.first_name %></p>
   <p>Surname: <%= @reservation.surname %></p>
   <p>email adress: <%= @reservation.email_adress %></p>
</div>

