<div class='container'>
   <h3>How to contact with us</h3>
   
   <div class='field'>
      <strong>email address:</strong><br>
      <p>hostel@centrum.pl</p>
   <div>

   <div class='field'>
      <strong>phone number:</strong><br>
      <p>+48 994 466 247</p>
   </div>

   <div class='field'>
      <strong>address:</strong><br>
      <p>Krakow Main Square 17a</p>
      <p>30-199 Krakow</p>
   </div>
</div>

