.container
   %h3 How to contact with us
   .field
      %strong email address:
      %br
      %p hostel@cheapsy.pl
   .field
      %strong phone number:
      %br
      %p +48 994 466 247
   .field
      %strong address:
      %br
      %p 30-199 Krakow
